In [120]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [121]:
df = pd.read_csv("data_reg.txt",sep="\t")

In [122]:
df.describe()

,Y,X1,X2,X3,X4,X5,X7,X8
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [123]:
df.isna().sum() #Y'a pas de valeurs manquantes

Y      0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
dtype: int64

In [124]:
df.corr() #Voir les variables bien quantitatif bien corrélé avec le probleme / y est bien corréé avec x5

,Y,X1,X2,X3,X4,X5,X7,X8
Y,1.000000,0.064079,0.151951,0.269507,0.050471,-0.444951,-0.231815,-0.051955
X1,0.064079,1.000000,-0.080653,-0.024199,-0.094707,0.584848,-0.100239,0.025197
X2,0.151951,-0.080653,1.000000,0.058995,-0.007877,-0.056698,-0.004670,-0.056855
X3,0.269507,-0.024199,0.058995,1.000000,0.265652,0.044537,-0.004557,-0.033594
X4,0.050471,-0.094707,-0.007877,0.265652,1.000000,-0.012144,-0.042663,-0.106378
X5,-0.444951,0.584848,-0.056698,0.044537,-0.012144,1.000000,-0.102177,0.011747
X7,-0.231815,-0.100239,-0.004670,-0.004557,-0.042663,-0.102177,1.000000,0.006488
X8,-0.051955,0.025197,-0.056855,-0.033594,-0.106378,0.011747,0.006488,1.000000

In [125]:
df

         Y   X1   X2  X3   X4   X5       X6  X7  X8   X9  X10
0     9.50  138   73  11  276  120  mauvais  42  17  oui  oui
1    11.22  111   48  16  260   83      bon  65  10  oui  oui
2    10.06  113   35  10  269   80    moyen  59  12  oui  oui
3     7.40  117  100   4  466   97    moyen  55  14  oui  oui
4     4.15  141   64   3  340  128  mauvais  38  13  oui  non
..     ...  ...  ...  ..  ...  ...      ...  ..  ..  ...  ...
395  12.57  138  108  17  203  128      bon  33  14  oui  oui
396   6.14  139   23   3   37  120    moyen  55  11  non  oui
397   7.41  162   26  12  368  159    moyen  40  18  oui  oui
398   5.94  100   79   7  284   95  mauvais  50  12  oui  oui
399   9.71  134   37   0   27  120      bon  49  16  oui  oui

[400 rows x 11 columns]

In [126]:
#X6 est une variables qualitatif ordinale (Bon>Moyen>Mauvais) on peut l'encode en LabelEncoding X9 et X10 
#sont des varibales boolean on peut les encoder en zero et 1

In [127]:
mapping = { "mauvais" : 0,"moyen" : 1,"bon":2}
df['X6']=[mapping.get(x) for x in df.X6]

In [128]:
mapping_bool = {"oui":1,"non":0}
df['X9']=[mapping_bool.get(x) for x in df.X9]

In [129]:
df['X10']=[mapping_bool.get(x) for x in df.X10]

In [131]:
df

         Y   X1   X2  X3   X4   X5  X6  X7  X8  X9  X10
0     9.50  138   73  11  276  120   0  42  17   1    1
1    11.22  111   48  16  260   83   2  65  10   1    1
2    10.06  113   35  10  269   80   1  59  12   1    1
3     7.40  117  100   4  466   97   1  55  14   1    1
4     4.15  141   64   3  340  128   0  38  13   1    0
..     ...  ...  ...  ..  ...  ...  ..  ..  ..  ..  ...
395  12.57  138  108  17  203  128   2  33  14   1    1
396   6.14  139   23   3   37  120   1  55  11   0    1
397   7.41  162   26  12  368  159   1  40  18   1    1
398   5.94  100   79   7  284   95   0  50  12   1    1
399   9.71  134   37   0   27  120   2  49  16   1    1

[400 rows x 11 columns]

In [132]:
X =  df.iloc[:,1:].values
Y = df.iloc[:,0].values

In [138]:
from sklearn.model_selection import train_test_split


X_dev,X_test,Y_dev,Y_test = train_test_split(X,Y,test_size=0.2)

In [139]:
import numpy as np
from sklearn.model_selection import KFold

kf = KFold(n_splits=10)
kf.get_n_splits(X)

10

In [193]:
from sklearn.linear_model import LinearRegression

level_one_data = list()
for train_index, valid_index in kf.split(X_dev):
    array = list() 
    X_train, X_valid = X_dev[train_index], X_dev[valid_index]
    y_train, y_valid = Y_dev[train_index], Y_dev[valid_index]
    #Model 1
    reg = LinearRegression().fit(X_train, y_train.ravel())
    predicted_1 = reg.predict(X_valid)
    array.append(predicted_1)
    #Model 2
    reg = LinearRegression().fit(X_train, y_train.ravel())
    predicted_2 = reg.predict(X_valid)
    array.append(predicted_1)
    #Model 3
    reg = LinearRegression().fit(X_train, y_train.ravel())
    predicted_3 = reg.predict(X_valid)
    array.append(predicted_3)
    #True values
    array.append(y_valid)
    level_one_data.append(array)

level_one_data = np.array(level_one_data)

In [194]:
np.array(level_one_data).shape

(10, 4, 32)

In [191]:
for i in len(level_one_data):
    train = level_one_data[]
    LinearRegression().fit(fold.T[:,:-1],fold.T[:,-1])

SyntaxError: invalid syntax (<ipython-input-191-cf7955aefcb4>, line 2)

In [ ]:
level_one_data.T.shape

In [205]:
full_df = list()
for data in level_one_data: 
    full_df.append(data.T)

In [212]:
full_df = np.array(full_df).reshape(320,-1)

In [218]:
reg2 = LinearRegression().fit(full_df[:,:-1], full_df[:,-1])

In [217]:
reg2

(320, 3)

In [243]:
array_test = list()

#Model 1
predicted_1 = reg.predict(X_test)
array_test.append(predicted_1)

#Model 2
predicted_2 = rfg.predict(X_test)
array_test.append(predicted_2)

#Model 3
predicted_3 = gb.predict(X_test)
array_test.append(predicted_3)

#True values
array.append(Y_test)
array_test.append(array)

data_test = np.array(array_test)

80

/home/moumene/.conda/envs/ds/lib/python3.6/site-packages/ipykernel_launcher.py:20: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [248]:
test_data_prevision = np.array([predicted_1,predicted_2,predicted_3,Y_test]).T

In [249]:
reg2.score(test_data_prevision[:,:-1], test_data_prevision[:,-1])

0.8383573564882255

In [219]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

level_one_data = list()
for train_index, valid_index in kf.split(X_dev):
    array = list() 
    X_train, X_valid = X_dev[train_index], X_dev[valid_index]
    y_train, y_valid = Y_dev[train_index], Y_dev[valid_index]
    
    #Model 1
    reg = LinearRegression().fit(X_train, y_train.ravel())
    predicted_1 = reg.predict(X_valid)
    array.append(predicted_1)
    
    #Model 2
    rfg = RandomForestRegressor().fit(X_train, y_train.ravel())
    predicted_2 = rfg.predict(X_valid)
    array.append(predicted_2)
    
    #Model 3
    gb = GradientBoostingRegressor().fit(X_train, y_train.ravel())
    predicted_3 = gb.predict(X_valid)
    array.append(predicted_3)
    
    #True values
    array.append(y_valid)
    level_one_data.append(array)

level_one_data = np.array(level_one_data)